.divider{
    height:80%;
    width: 10px;
    color:black
}

.displaySelectedWeaponWrapper{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}

.icon{
    color: #023047 !important;
    
}