
<div   class="displaySelectedWeaponWrapper">
    <ng-container *ngIf="comWeapon !== undefined && p1Weapon !==undefined ; else ElseBlock">
        <div class="selectedIcon">
            <fa-icon  
            class="icon" 
            flip="horizontal"
            id=p1{{p1Weapon.name}}
            size="10x" 
            [icon]="p1Weapon.icon"/>
            <h1 class="selectedIconName">{{p1Weapon.name}}</h1>
        </div>
        <mat-divider [vertical]="true" class="divider"></mat-divider>
        <div class="selectedIcon">
            <fa-icon
                class="icon" 
                size="10x" 
                id=comWeapon{{comWeapon.name}}
                [icon]="comWeapon.icon"/>
            <h1 class="selectedIconName">{{comWeapon.name}}</h1>
        </div>
    </ng-container>
    <ng-template #ElseBlock>
        <fa-icon 
            [@IconState]="position" 
            (@IconState.done)="completedAnimation($event)" 
            class="icon" 
            transform="rotate-90" 
            size="10x" 
            [icon]="faHandBackFist"/>
        <mat-divider [vertical]="true" class="divider"></mat-divider>
        <fa-icon [@IconState]="position"
            class="icon" 
            transform="rotate-90"
            flip="horizontal"
            size="10x" 
            [icon]="faHandBackFist"/>
    </ng-template>
</div>