<app-header (resetRoundEmitter)="resetRound()" (setWinnerEmitter)="setWinner($event)" [gameResult]="gameResult"></app-header>

<div class="container" fxLayoutAlign="space-evenly center" >
    <div *ngFor="let p1Button of p1Buttons">
        <app-weapon-button [weaponButton]="p1Button" (weaponButtonClickEmitter)="handleWeaponButtonClick($event)"></app-weapon-button>
    </div>
    <mat-divider [vertical]="true" class="divider"></mat-divider>
    <div *ngFor="let comButton of comButtons">
        <app-weapon-button [weaponButton]="comButton"></app-weapon-button>
    </div>
</div>