<div     class="header"
fxLayoutAlign="space-evenly" >
<h1>You</h1>
<h1>Com</h1>
</div>

<div    class="container"
fxLayoutAlign="space-evenly center" >
    <div *ngFor="let option of options">
        <app-p1-button [p1Button]="option"></app-p1-button>
    </div>

    <mat-divider [vertical]="true" class="divider"></mat-divider>

    <div *ngFor="let option of options">
        <button class="button com-button" mat-raised-button color="accent" disabled>
            <fa-icon [icon]="option.icon"/>
            <br/>
            {{option.name}}
        </button>
    </div>
</div>