.p1Header{
    padding-right: 10%;
}
.p1HeaderIcon{
    color:#fca311;
}
.header{
    margin: 0 50px;
    height:5% !important
}
.heading{
    color:#fca311;
    font-size: 72px;
    font-family: "Roboto";
}