
.button{
    border-radius: 10px;
    margin:10px;
    width: 150px;
    height: 150px;
    font-size:40px;
}
.p1-button{
    color:#023047 !important;
}


.com-button:disabled{
  background-color: #023047;
  color: #fca311 !important;
}


.disabledButton:disabled{
  background-color: #999999;
  color: #666666 !important;
}
