<div class="dialog">
    <div class="dialog" *ngIf="data.winner==='com';else elseBlock">
        <fa-icon  class="icon" size="5x" [icon]="sadIcon"></fa-icon>
        <h1>You Lose!</h1>
        <button (click)='resetMatch()'mat-raised-button color="accent">
            Play again
        </button>
    </div>
    <ng-template class="dialog"  #elseBlock>
        <fa-icon class='icon'size="5x" [icon]="trophyIcon"></fa-icon>
        <h1>You Win!</h1>
        <button (click)='resetMatch()'mat-raised-button color="accent">
            Play again
        </button>
    </ng-template>
    
</div>

